
/* Teach me How to Google...with  Style...*/

div {
  /*border: 1px solid green;*/
  font-family: arial,sans-serif;
}

#show_container
{
  position:fix;
  width:850px;
  margin-left: auto;
  margin-right: auto;
}

#show_left
{
  display:inline-block;
  float:left;
  width:400px;
}

#show_right
{
  width:400px;
  float:right;
  min-height:800px;
}

/*-----------------------------------------------*/

#g_input1 {
  position:relative;
  margin-top: 65px;
  margin-left: 180px;
  /*left: 500px;
  top: 500px;
  /*display: none;
  position:absolute;*/

}

#g_input {
  /*position:relative;
  margin-top: 65px;
  margin-left: 180px;
  /*left: 500px;
  top: 500px;
  /*display: none;
  position:absolute;*/

}
/*-----------------------------------------------*/

#show_messages
{
  display: none;
  font-size: 16px;
  position: relative;
  width: 400px;
  height: 300px;
  margin-top: 25px;
  margin-left: -5px;
  background-color: #9BC9FF;
  border: 8px solid #9BC9FF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

/* creates triangle for speech bubble */
#show_messages:before {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  top: -50px;
  left: 25px;
  width: 0;
  border-width: 0 20px 50px;
  border-style: solid;
  border-color: #9BC9FF transparent;
}

input {
  font-size: 14px;
}

/* ID Selector */
#searchText {
  width: 400px;
}

/* Class Selector */
.buttonLabel {
  font-size: 40px;
}

#g_search {
  display:none;
  width:100%;
  float:left;
}

#g_result {
  padding: 10px 0 10px 0;
  margin-bottom: 0;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
  position: static;
  zoom: 1;
  display: block;
  content: ".";
  clear: both;
  visibility: hidden;
  visibility: visible !important;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.green {
  border-left: 6px solid #b3ffba;
}

.red {
  border-left: 6px solid #ffb0b5;
}

.green:hover {
  background-color: #b3ffba;
}

.red:hover {
  background-color: #ffb0b5;
}


#g_result .neutral {
  
}

#g_link_title {
  font-size: 16px;
  color: #15C;
  height: 1.2em;
  text-decoration: underline;
  overflow: hidden;
  cursor: pointer;
  direction: ltr;
  unicode-bidi: embed;
  zoom: 1;
  visibility: visible !important;
}

#g_link_text {
  word-break: break-all;
  display: block;
  overflow: hidden;
  color: #093;
  text-decoration: none;
  padding-bottom: 2px;
  position: static;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed;
  zoom: 1;
  visibility: visible !important;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

#g_summary {
  color: #333;
  position: static;
  margin-top: 1px;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-spacing: 0px;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  zoom: 1;
  visibility: visible !important;
}

footer {
   /*padding-top: 20px;*/
   position:fixed;
   left:0px;
   bottom:0px;
   height:26px;
   width:100%;
   background:#f2f2f2;
   color:#777;   
}

/* Descendent Selector */
footer a {
  /*margin-top: 20px;*/
  color:#777;
  text-decoration:none;
}

#fLabel {
  font-size: 14px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", serif;
  bottom:-5px;
  position:relative
}

